{% extends 'base.html' %}

{% block title %}
    Save data with html form
{% endblock %}

{% block body %}
    <form action="" method="post" class=" form col-md-6 offset-3 text-white">
        {% csrf_token %}
        <div class="form-group">
            <label for="lap_type">LAPTOP TYPE:</label>
            <input type="text" id="lap_type" name="lap_type" class="form-control">
        </div>
        <div class="form-group">
            <label for="price">PRICE:</label>
            <input type="number" id="price" name="price" class="form-control">
        </div>
        <div class="form-group">
            <label for="issues">ISSUES:</label>
            <input type="text" id="issues" name="issues" class="form-control">
        </div>
        <div class="form-group">
            <label for="status">STATUS:</label>
            <input type="text" id="status" name="status" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="SUBMIT" class="btn btn-outline-primary">        </div>

    </form>
{% endblock %}