{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}register {% endblock %}

{% block body %}


    <form action="" method="POST" class="form col-md-6 offset-3">
        <h2>SAMPLE REGISTRATION FORM</h2>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="{% url 'login' %}" type="submit" >Already Registered?</a>
        </div>

    </form>
{% endblock %}